<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>社团小助手</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/z-font.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
</head>

<body>

<!--    <div class="page-loading">-->
<!--      <div class="rubik-loader"></div>-->
<!--    </div>-->

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a>财务管理</a>
        <a>
          <cite>资金信息列表</cite></a>
      </span>
    <a class="layui-btn layui-btn-primary layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">ဂ</i></a>
</div>

<div class="z-body animated fadeIn">
    <form class="layui-form zadmin-search-area input">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="remark" class="layui-form-label">描述</label>
                <div class="layui-input-inline">
                    <input type="text" name="remark" autocomplete="off"
                           id="remark" class="layui-input">
                </div>

                <label for="infoType" class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="infoType" id="infoType">
                        <option value="">请选择</option>
                        <option value="0">支出</option>
                        <option value="1">收入</option>
                    </select>
                </div>

                <button lay-submit="" lay-filter="search" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                    <i class="zadmin-icon zadmin-icon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="cash-table"></table>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
<script type="text/html" id="toolbar">
    <shiro:hasPermission name="cash:add">
        <div class="layui-inline" lay-event="add" title="添加">
            <i class="layui-icon">&#xe654;</i>
        </div>
    </shiro:hasPermission>
    <!--      <shiro:hasPermission name="user:delete">-->
    <!--        <div class="layui-inline" lay-event="del" title="批量删除">-->
    <!--          <i class="layui-icon">&#xe640;</i>-->
    <!--        </div>-->
    <!--      </shiro:hasPermission>-->
</script>
<script type="text/html" id="typeTpl">
    {{# if (d.infoType == 0) { }}
    支出
    {{# } else if (d.infoType == 1) { }}
    收入
    {{# } }}
</script>
<script type="text/html" id="auditTpl">
    {{# if (d.auditFlag == 0) { }}
    未审核
    {{# } else if (d.auditFlag == 1) { }}
    已通过
    {{# } else if (d.auditFlag == 2) { }}
    未通过
    {{# } }}
</script>
<script type="text/html" id="executeTpl">
    {{# if (d.executeFlag == 0) { }}
    未执行
    {{# } else if (d.executeFlag == 1) { }}
    已执行
    {{# } }}
</script>
<script type="text/html" id="proposerTpl">
    {{# if (d.proposer == null) { }}

    {{# } else { }}
    <div>{{d.proposer.name}}</div>
    {{# } }}
</script>
<script type="text/html" id="auditorTpl">
    {{# if (d.auditor == null) { }}
    
    {{# } else { }}
    <div>{{d.auditor.name}}</div>
    {{# } }}
</script>

<script type="text/html" id="column-toolbar">
    <shiro:hasPermission name="cash:update">
        <a lay-event="edit">
            <i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
        </a>
    </shiro:hasPermission>
    <shiro:hasPermission name="cash:delete">
        <a lay-event="del">
            <i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
        </a>
    </shiro:hasPermission>
    <shiro:lacksPermission name="cash:update,cash:delete">
        <i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
    </shiro:lacksPermission>
</script>
<script type="text/javascript">
    layui.config({
        base: '/lib/layui/extend/'
    }).use(['table', 'form', 'element', 'tablePlug'], function () {
        var table = layui.table;
        var $ = layui.$;
        var form = layui.form;
        var tablePlug = layui.tablePlug;

        tablePlug.smartReload.enable(true);

        table.render({
            elem: '#cash-table'
            , url: '/finance/cash/list'
            , page: {
                theme: '#1E9FFF'
            }
            , toolbar: '#toolbar'
            , defaultToolbar: ['filter', 'exports', 'print']
            , title: '资金信息表'
            , smartReloadModel: true
            , cols: [
                [
                    {type: 'numbers', title: '序号', align: 'center', width: "5%"}
                    , {field: 'id', title: 'ID', align: 'center', width: "5%"}
                    , {field: 'infoType', title: '类型', templet: "#typeTpl", align: 'center', width: "5%"}
                    , {field: 'money', title: '金额', align: 'center', width: "6%"}
                    , {field: 'remark', title: '描述', align: 'center', width: "18%"}
                    , {field: 'proposer', title: '申请人', templet: '#proposerTpl', event:'proposerInfo', align: 'center', width: "8%"}
                    , {field: 'applicateTime', title: '申请时间', align: 'center', width: "15%"}
                    , {field: 'auditor', title: '审核人', templet: '#auditorTpl', event:'auditorInfo', align: 'center', width: "8%"}
                    , {field: 'auditFlag', title: '审核状态', templet: "#auditTpl", align: 'center', width: "8%"}
                    , {field: 'executeFlag', title: '执行状态', templet: "#executeTpl", align: 'center', width: "8%"}
                    , {title: '操作', align: 'center', toolbar: '#column-toolbar', width: "14%"}
                ]
            ]
            , done: function (res, curr, count) {
                $('table').width("100%")
            }   
        });

        // 工具条点击事件
        table.on('toolbar', function (obj) {
            var data = obj.data;
            var event = obj.event;

            if (event === 'add') {
                add();
            } else if (event === 'del') {
                delAll(obj);
            }
        });

        // 操作栏点击事件
        table.on('tool', function (obj) {
            var data = obj.data;
            var event = obj.event;
            if (event === 'edit') {
                edit(data.id);
            } else if (event === 'del') {
                del(data.id);
            }  else if(event === 'proposerInfo'){
                if(data.proposer != null) {
                    proposerInfo(data.proposer);
                }
            } else if(event === 'auditorInfo'){
                if(data.auditor != null) {
                    auditorInfo(data.auditor);
                }
            }
        });

        form.on('submit(search)', function (form) {
            table.reload('cash-table', {
                where: form.field
            });
            return false;
        });

        function add() {
            layer.open({
                content: '/finance/cash/add',
                title: '新增资金信息',
                area: ['50%', '50%'],
                type: 2,
                maxmin: true,
                shadeClose: true,
                end: function () {
                    table.reload('cash-table');
                }
            });
        }

        function edit(id) {
            layer.open({
                content: '/finance/cash/edit/' + id,
                title: '编辑资金信息',
                area: ['50%', '50%'],
                type: 2,
                maxmin: true,
                shadeClose: true,
                end: function () {
                    table.reload('cash-table');
                }
            });
        }

        function del(id) {
            layer.confirm("确定删除资金信息吗?", {icon: 3, title: '提示'},
                function (index) { // 确定回调
                    $.post('/finance/cash/' + id, {_method: "DELETE"}, function (data) {
                        layer.close(index);
                        handlerResult(data, deleteDone);
                    });
                }, function (index) { // 取消回调
                    layer.close(index);
                });
        }

        function delAll(obj) {
            // var checkStatus = table.checkStatus(obj.config.id);
            // var data = checkStatus.data;
            alert('暂未实现');
        }

        function deleteDone(data) {
            parent.layer.msg("删除成功", {icon: 6});
            table.reload('cash-table');
        }
        
        function proposerInfo(obj) {
            layer.alert(JSON.stringify(obj), {
                title: '申请人信息',
                content: '<p>姓名: ' + obj.name + '</p>'
                    + '<p>学号 : ' + obj.digits + '</p>'
                    + '<p>学院: ' + obj.college + '</p>'
                    + '<p>专业班级: ' + obj.belongClass + '</p>'
                    + '<p>手机号码: ' + obj.phone + '</p>'
            });
        }
        
        function auditorInfo(obj) {
            layer.alert(JSON.stringify(obj), {
                title: '审核人信息',
                content: '<p>姓名: ' + obj.name + '</p>'
                    + '<p>学号 : ' + obj.digits + '</p>'
                    + '<p>学院: ' + obj.college + '</p>'
                    + '<p>专业班级: ' + obj.belongClass + '</p>'
                    + '<p>手机号码: ' + obj.phone + '</p>'
            });
        }
    }); 
    
</script>
</body>
</html>