<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>活动报名表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/extend/formSelects-v4.css}"/>
</head>

<body>
    <div class="z-body animated fadeIn">
        <input type="hidden" id="activityId" name="activityId" th:value="${activity?.activityId}">
        <table class="layui-hide" id="apply-table"></table>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script>
        layui.config({
            base: '/lib/layui/extend/'
        }).use(['table', 'element', 'tablePlug'], function () {
            var table = layui.table;
            var $ = layui.$;
            var tablePlug = layui.tablePlug;
    
            var activityId = $("#activityId").val();
            console.log(activityId);
            tablePlug.smartReload.enable(true);
        
            table.render({
                elem: '#apply-table'
                , url: '/activity/apply/getList'+activityId
                , page: false
                , title: '活动报名表'
                , smartReloadModel: true
                , cols: [
                    [
                        {type: 'numbers', title: '序号', align: 'center', width: "10%"}
                        , {field: 'name', title: '姓名', align: 'center', width: "15%"}
                        , {field: 'digits', title: '学号', align: 'center', width: "20%"}
                        , {field: 'college', title: '学院', align: 'center', width: "25%"}
                        , {field: 'class', title: '专业班级', align: 'center', width: "30%"}
                    ]
                ]
                , done: function (res, curr, count) {
                    $('table').width("100%")
                }
            });
        });
    </script>
</body>

</html>