<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.system.dao.ActivityParticipatorInfoMapper">
    <resultMap id="BaseResultMap" type="com.ams.system.entity.ActivityParticipatorInfo">
        <id column="participator_id" jdbcType="INTEGER" property="participatorId" />
        <result column="participator_name" jdbcType="VARCHAR" property="participatorName" />
        <result column="participator_digits" jdbcType="VARCHAR" property="participatorDigits" />
        <result column="participator_college" jdbcType="VARCHAR" property="participatorCollege" />
        <result column="participator_class" jdbcType="VARCHAR" property="participatorClass" />
        <result column="activity_id" jdbcType="VARCHAR" property="activityId" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from activity_participator_info
        where participator_id = #{participatorId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ams.system.entity.ActivityParticipatorInfo">
        insert into activity_participator_info (participator_id, participator_name, 
          participator_digits, participator_college, 
          participator_class, activity_id)
        values (#{participatorId,jdbcType=INTEGER}, #{participatorName,jdbcType=VARCHAR}, 
          #{participatorDigits,jdbcType=VARCHAR}, #{participatorCollege,jdbcType=VARCHAR}, 
          #{participatorClass,jdbcType=VARCHAR}, #{activityId,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.ams.system.entity.ActivityParticipatorInfo">
        update activity_participator_info
        set participator_name = #{participatorName,jdbcType=VARCHAR},
          participator_digits = #{participatorDigits,jdbcType=VARCHAR},
          participator_college = #{participatorCollege,jdbcType=VARCHAR},
          participator_class = #{participatorClass,jdbcType=VARCHAR},
          activity_id = #{activityId,jdbcType=VARCHAR}
        where participator_id = #{participatorId,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select participator_id, participator_name, participator_digits, participator_college, 
        participator_class, activity_id
        from activity_participator_info
        where participator_id = #{participatorId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select participator_id, participator_name, participator_digits, participator_college, 
        participator_class, activity_id
        from activity_participator_info
    </select>
  
    <delete id="deleteByActivityId" parameterType="java.lang.Integer">
        delete from activity_participator_info
        where activity_id = #{activityId,jdbcType=INTEGER}
    </delete>
</mapper>