<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.system.dao.FileMapper">
    <resultMap id="BaseResultMap" type="com.ams.system.entity.File">
        <id column="file_id" jdbcType="INTEGER" property="fileId" />
        <result column="group_name" jdbcType="VARCHAR" property="groupName" />
        <result column="remote_file_name" jdbcType="VARCHAR" property="remoteFileName" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="dir_id" jdbcType="VARCHAR" property="dirId" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="updator" jdbcType="VARCHAR" property="updator" />
    </resultMap>
    <select id="selectAllWithQuery" resultMap="BaseResultMap">
        select file_id, group_name, remote_file_name, file_name, remark, `type`, dir_id,
        create_time, modify_time, creator, updator
        from file
        where dir_id = #{dirId,jdbcType=VARCHAR}
        <if test="fileName != null and fileName != ''">
            and file_name = #{fileName,jdbcType=VARCHAR}
        </if>
            
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from file
        where file_id = #{fileId,jdbcType=INTEGER}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select file_id, group_name, remote_file_name, file_name, remark, `type`, dir_id, 
        create_time, modify_time, creator, updator
        from file
        where file_id = #{fileId,jdbcType=INTEGER}
    </select>

    <insert id="insert" keyColumn="file_id" keyProperty="fileId" parameterType="com.ams.system.entity.File" useGeneratedKeys="true">
        insert into file (group_name, remote_file_name, 
            file_name, `type`, dir_id, creator)
        values ( #{groupName,jdbcType=VARCHAR}, #{remoteFileName,jdbcType=VARCHAR}, 
            #{fileName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
            #{dirId,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.ams.system.entity.File">
        update file
        <set>
            <if test="fileName != null and fileName != ''">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="type != null and type != ''">
                `type` = #{type,jdbcType=VARCHAR},
            </if>
            <if test="dirId != null and dirId != ''">
                dir_id = #{dirId,jdbcType=VARCHAR},
            </if>
            <if test="updator != null and updator != ''">
                updator = #{updator,jdbcType=VARCHAR}
            </if>
        </set>
        where file_id = #{fileId,jdbcType=INTEGER}
    </update>
</mapper>
